@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
a{
  text-decoration: none;
}
/* end Reset */

body {
  background-color: #ECEFF1;
}

#header {
  background-color: #000;
}

#header-content {
  max-width: 960px;
  margin: 0 auto;
}

.block {
  margin-top: 10px;
  padding: 5px 20px;
}

.header-nav li {
  background-color: #03a9f4;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-bottom: 7px;
}

.header-nav li a {
  padding: 6px 7px;
  width: 100%;
  display: inline-block;
  font-size: 10pt;
  color: white;
  /* font-weight: bold; */
  box-sizing: border-box;
  letter-spacing: 0.09em;
}

#site-title {
  text-align: left;
  background-color: #03A9F4;
  padding: 10px 0 5px 30px;
  max-height: 40px;
  min-height: 40px;
  box-sizing: border-box;
  color: white;
}

#content-wrapper{
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

* {
  font-family: 'Ubuntu';
}

p {
  margin: 14px 10px 18px 10px;
  line-height: 24pt;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu';
  color: #03a9f4;
}

#site-title .site-title {
  max-width: 960px;
  margin: 0 auto;
  color: white;
}

.site-title a{
  color: white;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  /* margin-top: 2em; */
  padding: 1em 0 0.5em 0;
}

.md-content iframe,
.md-content img,
.md-content video {
  max-width: 100%;
  display: block;
  margin: 3em auto;
  border: 1px solid #f2f2f2;
}

.content {
  padding: 0 30px 15px 30px;
}

.content-wrapper {
  max-width: 960px;
  margin: 20px;
}

blockquote {
  position: relative;
  text-align: left;
  padding: 10px 30px 10px 30px;
  background-color: #fff34c;
  margin-bottom: 10px;
}

blockquote:before {
  position: absolute;
  top: -2px;
  font-size: 39pt;
  font-weight: 600;
  left: 9px;
  letter-spacing: -3px;
  content: "\02BD\02BD";
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.51);
}

.page-header {
  padding: 48px 10px 16px 40px;
  background-color: #ECEFF1;
  color: #fff;
  /* box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.31) inset; */
}

@media screen and (max-width: 960px) {
  .page-header{
    background-color: #fff34c;
  }
}

.page-header h1{
  color: black;
  font-size: 3em;
}

.page-screen {
  margin: 0 auto;
  width: 100%;
  /*max-height: 250px;*/
  overflow: hidden;
  /* box-shadow: 0px 20px 20px -20px #808080; */
  border-bottom: 5px solid #03a9f4;
  line-height: 0;
}

.page-screen img {
  width: 100%;
}

.three-list .list-item img {
  width: 100%;
}

.three-list {
  padding: 20px 0;
}

.three-list .list-item {
  margin-bottom: 2em;
}

.three-list .list-item:nth-child(3n) {
    margin-right: 0;
}

.three-list .list-item {
    /* width: 30%; */
    width: 30%;
    margin-right: 5%;
    display: inline-block;
}

.content ul {
  padding: 20px 0 0 30px;
}

.content ul li {
  margin-bottom: 20px;
  list-style: none;
}

.content ul li:before {
  content: '-';
  display: inline;
  margin-right: 0.7em;
  margin-left: -1em;
  font-size: 1em;
  width: 1em;
}

@media screen and (max-width: 960px){
  .three-list .list-item{
    margin-right: 0;
    width: 100%;
  }
}

.list-item-featured {
  line-height: 0;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
}

.list-item-title {
  line-height: 2em;
}

.list-item-title a {
  color: white;
  color: #03a9f4;
  font-size: 1.2em;
}

.list-item-info-link-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.list-item-info-link-wrapper * {
  flex: 1;
  text-align: center;
  line-height: 2em;
}

a.list-item-info-link {
  background-color: #0097db;
  color: white;
}

a.list-item-link {
  background-color: #03a9f4;
  color: white;
}