<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page.title or title}}</title>
        <meta name="description" content="{{page.description}}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/css/style.css" rel="stylesheet">
        {% block head -%}
        {%- endblock head %}
    </head>
    <body>
        <header id="header">
            <div id="site-title">
                <h1 class="site-title">
                    <a href='/'>{{sitename}}</a>
                </h1>
            </div>
            <section id="header-content">
                <!-- Ads -->
                <nav class="header-nav block">
                    <ul id="main-menu">
                        {% for item in get_taxonomy('category').items.values() if not item.hidden %}
                            <li class="menu-item"><a href="{{item.path}}">{{item.title}}</a></li>
                        {% endfor %}
                    </ul>
                    <!-- Here goes the menu ul/li -->
                </nav>
            </section>
        </header>
        
        <section id="content-wrapper">
            {% if not page.is_home %}
                {% if page.custom.color %}
                <style>
                    @media screen and (max-width: 960px){
                        .page-header{
                            background-color: {{page.custom.color}};
                        }
                    }
                </style>
                {% endif %}
                <div class="page-header" >
                    <h1>{{page.title}}</h1>
                </div>
            {% endif %}
            {% if page.featured %}
                <div class="page-screen">
                    <img src="{{page.featured}}">
                </div>
            {% endif %}
            <div class="content">
                {% block  content -%}
                {%- endblock content %}
            </div>
        </section> 
    </body>
</html>