{% extends "base.html" %}

{% block content %}
<div class="page-description">
    {% markdown %}
        {{page.description}}
    {% endmarkdown %}
</div>
<div class="taxonomy-item-children">
    <div class="three-list">
        {% for child in children() -%}
            <div class="list-item">
                <div class="list-item-title">
                    <a href="{{child.path}}">
                        {{child.title}}
                    </a>
                </div>
                <div class="list-item-featured">
                    <a {% if not child.hidden %} href="{{child.path}}" {% endif %}>
                        <img src="{{child.featured}}">
                    </a>
                    <div class="list-item-info-link-wrapper">
                        {% if not child.hidden %}
                            <a href="{{child.path}}" class="list-item-info-link">
                                View Info
                            </a>
                        {% endif %}
                        <a href="{{child.custom.link}}" class="list-item-link">
                            Visit Site
                        </a>
                    </div>
                </div>
            </div>
        {%- endfor %}
    </div>
</div>
<div class="md-content">
    {% markdown %}
        {{page.body}}
    {% endmarkdown %}
</div>
{% endblock content %}