{% extends "base.html" %}

{% block content %}

<div class="taxonomy-items">
	<div class="three-list">
	{% for item in get_taxonomy('category').items.values() if not item.hidden  -%}
		<div class="list-item">
				<div class="list-item-title">
					<a href="{{item.path}}">
						{{item.title}}
					</a>
				</div>
				<div class="list-item-featured">
					<a href="{{item.path}}">
						<img src="{{item.featured}}">
					</a>
				</div>
				
		</div>
	{%- endfor %}
	</div>
</div>

{% endblock content %}